
.jobseekerProfile {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.jobseekerProfile-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.jobseekerProfile-profile-information {
    margin-bottom: 20px;
}

.jobseekerProfile-profile-section-header {
    font-size: 20px;
    margin-bottom: 10px;
}

.jobseekerProfile ul {
    list-style-type: none;
    padding-left: 0;
}

.jobseekerProfile li {
    margin-bottom: 5px;
}
